// Variables
$dark-color: #333;
$light-color: #f4f4f4;
$primary-color: #28a745;
$secondary-color: #0284d0;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return #fff;
  }
}
